{% extends "base.html" %}
{% block title %} Ediciones {% endblock %}
{% block head %}
    {{ super() }}
    <!-- <link rel="styleesheet" href="./static/style/index.css" > -->
{% endblock %}
{% block content %}

<h3>Seleccione una imágen para subir</h3>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action="./ediciones" method="post" enctype="multipart/form-data">
    <label for="titulo">Título:</label>
    <input type="text" class="form-control" name="titulo" id="titulo">
    <br>
    <label for="autor">Autor:</label>
    <input type="text" class="form-control" name="autor" id="autor">
    <br>
    <label for="numero_edicion">Número de edición:</label>
    <input type="text" class="form-control" name="numero_edicion" id="numero_edicion">
    <br>
    <label for="nombre_edicion">Nombre de la edición (puede estar traducido a otro idioma...):</label>
    <input type="text" class="form-control" name="nombre_edicion" id="nombre_edicion">
    <br>
    <label for="fecha_edicion">Fecha de edición (si no sabe el día ponga el primer día del mes):</label>
    <input type="date" class="form-control" name="fecha_edicion" id="fecha_edicion">
    <br>
    <label for="stock">Cantidad (stock) de libros</label>
    <input type="number" class="form-control" name="stock" id="stock">
    <br>
    <label for="isbn">ISBN (número de serie internacional):</label>
    <input type="text" class="form-control" name="isbn" id="isbn">
    <br>
    <label for="paginas">Número de páginas: </label>
    <input type="number" class="form-control" name="paginas" id="paginas">
    <br>
    <label for="isbn">Tamaño (ej: 30cm x 19cm x 2cm):</label>
    <input type="text" class="form-control" name="tamanio" id="tamanio">
    <br>
    <label for="editores">Editor:</label>
    <select name="editores" id="editores" class="form-control">
        {% for editor in editores %}
            <option value="{{ editor.editor_id }}"> {{ editor.nombre }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="portada">Foto del frente:</label>
    <input type="file" name="portada" id="portada" required class="form-control"
    onchange="getImagePreview(event, 'portada_img')">
    <div id="portada_img"></div>
    <br>
    <label for="contratapa">Foto de la contratapa:</label>
    <input type="file" name="contratapa" id="contratapa" class="form-control"
    onchange="getImagePreview(event, 'contratapa_img')">
    <div id="contratapa_img"></div>
    <p><input type="submit" value="Dar de alta esta edición" class="btn btn-primary"></p>
</form>

{% endblock %}

{% block page_js %} <script src="../static/scripts/image_preview.js"></script> {% endblock %}