  <header class="d-flex justify-content-center align-items-center">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navContainer">
      <div class="container-fluid justify-content-between">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./catalogo">Catálogo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./nosotros">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./editores">Editores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./ediciones">Ediciones (mover a libros)</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>